<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avengers.maskfitting.mafiafin">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MafiaFin"
        android:usesCleartextTraffic="true">

        <provider
            android:authorities="com.avengers.maskfitting.camera"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".faceshape.FaceShapeActivity"
            android:exported="true" />
        <activity
            android:name=".faceshape.FaceShapeOutputActivity"
            android:exported="true" />
        <activity
            android:name=".account.NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".personal_color.PersonalColorActivity"
            android:exported="true" />

        <activity
            android:name=".personal_color.PersonalColorOutputActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="com.google.ar.core" android:value="required" />

        <activity
            android:name=".main.fitting.FittingActivity"
            android:exported="true" />
        <activity
            android:name=".account.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".account.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".main.fitting.dental.FaceLandmarksActivity"
            android:exported="true" />

        <activity
            android:name=".main.fitting.dental.FaceLandmarksActivityBlack"
            android:exported="true" />
        <activity
            android:name=".main.fitting.dental.FaceLandmarksActivityPink"
            android:exported="true" />
        <activity
            android:name=".main.fitting.kf.FaceLandmarksActivityKF"
            android:exported="true" />
        <activity
            android:name=".main.fitting.kf.FaceLandmarksActivityKFPink"
            android:exported="true" />
        <activity
            android:name=".main.fitting.kf.FaceLandmarksActivityKFBlack"
            android:exported="true" />
        <activity
            android:name=".main.fitting.bird.FaceLandmarksActivityBird"
            android:exported="true" />
        <activity
            android:name=".main.fitting.bird.FaceLandmarksActivityBird_Black"
            android:exported="true" />
        <activity
            android:name=".main.fitting.bird.FaceLandmarksActivityBird_Pink"
            android:exported="true" />
        <activity
            android:name=".main.alarm.MaskAlertMainActivity"
            android:exported="true" />
        <activity
            android:name=".main.alarm.MaskRegisterationActivity"
            android:exported="true" />
        <activity
            android:name=".main.alarm.PurchaseAlertActivity"
            android:exported="true" />
        <activity
            android:name=".main.board.bulletinBoard.BulletinBoardRegisterationActivity"
            android:exported="true" />
        <activity
            android:name=".main.board.qnaBoard.QnABoardRegisterationActivity"
            android:exported="true" />
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>